/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

header > img{
    width: 160px;
}

header > p {
    float: right;
    margin: 3%;
    word-spacing: 15px;
    font-family: Cambria;

}

.image{
    width:830px;
    height:500px;
    background: cover;
    content: url(./images/landing.jpg)

}

.centered {
    position: absolute;
    top: 27%;
    left: 49%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 3.5rem;
    font-family: 'Times'

}



.centered2 {
    position: absolute;
    top: 44%;
    left: 49%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 1.1rem;
    text-align: center;
    font-family: 'Helvetica'


}

section > h2 {
    text-align: center;

}

hr{
    width:25%;
    border-top: 3px solid green;
    height: 1px;

}

#left{
    float:left; width:100px;
    content: url(./images/music-icon.png)
}
#right{
    float:right; width:100px;
    content: url(./images/devices-icon.png)
    
}
#center{
    margin:0 auto; width:104px;
    content: url(./images/high-quality-icon.png)
}
#container{
    width:100%;}

.it {
        position: relative;
        text-align: center;
        
    
}

.it2{
    text-align: right;
}

.titles{
    text-align: center;
    color:rgba(0, 152, 42, 0.9);
}

.section2 {
        background-color: gba(0, 152, 42, 0.9);
    
      }


h4 {
    color: white;
    font: bold;
    
}